.file-button {
    padding: 5px;
    width: 50%;
    height: 30px;
    font-weight: bold;
}

.file-handling {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.file-name {
    line-height: 30px;
    color: #fff;
    margin-top: 10px;
    background-color: #3f51b5;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: bold;
}