<?xml version="1.0" encoding="utf-8"?>
<patch>
    <topic name="api">
        <category name="additions">
            <breaking severity="trivial">
                <entry>Entry</entry>
            </breaking>
            <entry>Entry</entry>
        </category>
    </topic>
</patch>