.opcode {
    -fx-fill: #007bff; /* Blue for opcodes */
    -fx-font-weight: bold;
}

.register {
    -fx-fill: #28a745; /* Green for registers */
    -fx-font-style: italic;
}

.jmp {
    -fx-fill: #ab52fa; /* Grey for comments */
    -fx-font-weight: bold;
}

.util {
    -fx-fill: #dc7200;
    -fx-font-weight: bold;
}
