/* styles.css */
body {
    background-color: #222;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Align items to the top */
    box-sizing: border-box;
    width: 100%;
    padding: 10px; /* Add padding to the container for space around */
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10%;
    margin-right: 10px;
    margin-top: 10px
}

.middle-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.right-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%; /* Make table container full width */
    margin-top: 10px;
    margin-left: 10px;
}

.ide-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 10px; /* Space between items */
}

button {
    font-family: 'Courier New', Courier, monospace;
    background-color: #3f51b5;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

button:hover {
    background-color: #5a6dd8;
    transition: background-color 0.3s ease;
}

.blink {
    animation: blink-animation 500ms ease forwards;
}

@keyframes blink-animation {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgba(255, 255, 0, 0.8);
    } 
    100% {
        background-color: transparent;
    }
}