/* explanation.css */
.explanation-table-container {
    margin-top: 10px;
    width: 100%;
}

.expl table {
    width: 100%;
    background-color: #333;
    border-radius: 10px;
    border-collapse: collapse;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.expl thead th {
    background-color: #3f51b5;
    color: #fff;
    font-size: x-large;
    text-align: center;
}

.expl thead th:first-child {
    width: 35%;
    border-right: 2px solid #aaa;
}

.expl tbody td {
    padding: 3.75px;
    color: #ddd;
    border-bottom: 1px solid #444;
    font-size: medium;
    text-align: left;
}

.expl tbody td:first-child {
    font-weight: bold;
    border-right: 2px solid #aaa;
}

.expl tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05);
}

.expl tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.3s ease;
}